.styles {
    padding: 5% 5% 5% 5%;
    width: 90%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s ease;
}
@media screen and (max-width: 750px) {
    .styles {
        padding: 5% 5% 5% 5%;
        width: 90%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        transition: 1s;
    }
}